<div class="acerca">
    <ul class="acercaMenu">
          <div class="acercaTitulo"><h2>Acerca de</h2></div>
    
        <div>Lorem ipsfeum dolor sit amet, consectetur adipisicing elit. Est, iure accusantium. Eius nostrum saepe nam ullam omnis. Molestiae illum minus fuga delectus temporibus ipsum dolorum nesciunt modi mollitia similique esse recusandae a quasi soluta neque totam inventore incidunt quaerat numquam at, ullam labore, natus enim. Nam fugit distinctio excepturi odit!</div>
      
    </ul>
</div>